/* CSS común */

.main-content {
    height: 100vh;  
}

::-webkit-scrollbar {
    width: 0.5em;
    margin-right: 2em;
    border-radius: 2px;
}

::-webkit-scrollbar:hover{
    background-color: #555;  
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #eaeaea;
}

.custom-select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

:disabled {
    cursor: not-allowed;
}

/* CSS portada */

.section {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-inicial{
    max-width: 550px;
}

.btn-continue{
    white-space: normal;
    word-wrap: break-word !important;
}

.continue-text{
    display: inline-block;
}

/* CSS horario */
body{
    --bh: 51px; /* button-height */
    --fs: 10pt; /* font-size */
    --hh: 30px; /* header-height */

    font-size: var(--fs) !important;
}
.btn{
    font-size: var(--fs) !important;
}

#header {
    height: var(--hh) !important;
    font-size: 11pt;
}

#sidebar{
    width: 250px;
    min-width: 250px;
    height: 100%;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
}

#contador {
    height: 51px;
    padding: 16px;
}

#horario-container {
    display: flex;
    width: 100%;
    height: calc(100% - var(--hh));
}

.action-button .btn{
    display: block;
    margin: 8px auto 0;
    width: calc(100% - 16px);
}

#horario{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#cuatrimestres{
    height: var(--bh);
    padding: 8px;
}

#cuatrimestres div {
    display: inline-flex;
    vertical-align: middle;
    margin-left: 16px;
}

#asignaturas-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.asignatura{
    --ancho-asignatura: calc(100% - 16px);
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 2px auto;
    width: var(--ancho-asignatura);
}

.asignatura,
.asignatura span,
.asignatura div,
.asignatura i{
    cursor: move;
}

.info-asignatura{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.rem-asignatura, .sort-asignatura{
    align-self: center;
}

.rem-asignatura{
    margin: 0 4px 0 8px;
}
.sort-asignatura{
    margin: 0 8px 0 4px;
}

.rem-asignatura i{
    cursor: pointer !important;
}

.fas::before, .sort-asignatura{
    vertical-align: middle;
}

.asignatura-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.asignatura-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    
    max-width: 135px;
}
.abreviatura{
    margin-left: 4px; 
}

#semana{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

#horas{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.hora, .dia{
    flex-grow: 1;
    display: flex;
    
}
.hora{
    flex-direction: row;
}

.dia{
    flex-direction: column;
}

.hora span, .dia span {
    width: fit-content;
    margin: auto auto;
    height: fit-content;
}

.hora-vacia{
    padding-top:19px;
}

.casillero:not(.hora-vacia) {
    background-color: #6c757d !important;
}

/*  GESTION  */
#horario-load-container {
    max-width: 500px;
    width: 90%;
    margin: 2em auto;
    border: 1px solid #eaeaea;
    padding: 2em;
}

#listado, 
#formulario{
    max-height: 86vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#listado fieldset {
    overflow-y: auto;
    max-height: 72vh;
}

#form-asignaturas fieldset {
    max-height: 64vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#accion-title{
    text-align: center;
}

.editar-button{
    display: none;
    float: right;
}

.editar-button:hover{
    cursor: pointer;
}

.gestion-list-element:hover .editar-button{
    display: inline;
}

.gestion-list-element{
    transition: all 0.1s ease-in-out;
}

.gestion-list-element label{
    margin: 0;
    width: 85%;
}

.gestion-list-element:hover{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px #eaeaea;
}

.gestion-list-element input[type=checkbox] {
    margin-right: 4px;
}

#label-btn-add-clase{
    margin-bottom: 0px !important;
}

#add-clase-modal .modal-body {
    display: flex;
    flex-direction: row;
}

.dia-add-clase {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.dia-add-clase span{
    width: fit-content;
    margin: 0 auto;
    font-size: 12pt;
}

.clases-added {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.clases-added-item i{
    cursor: pointer;
}

.even{
    background-color: rgba(0, 0, 0, 0.1)
}

@media (min-width: 1024px) {
    .modal-lg {
        max-width: 1000px;
    }
}